.favoritos-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 5px;
}
.favorites{
    padding-top: 88px;
    
}
.corazon{
    max-height: 2rem;
    
    width: 40px;
    height: 40px;
}
.corazon img{
    max-height: 40px;
    padding-bottom: 5px;
}
.styles-icon{
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.styles-icon:hover{
    cursor: pointer;
    background-color: #000000;
}